//colours

$primary: #1b1c1e;
$secondary: #f0f0f0;
$dark: #1b1c1e;
$colour-accent: #c11e2f;

$colour-danger: #be1e2d;
$colour-success: #15700d;

//fonts

$font-primary: "Roboto", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
$font-headings: "Playfair Display", "Cambria", "Times New Roman", serif;

//bootstrap breakpoints

$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

$card-border-radius: 0;
$card-border-width: 0;

$input-border-radius: 50rem;
$btn-border-radius: 50rem;
