.products-container {
  h1 {
    padding: 40px;
  }
  &__search {
    margin: 20px auto 40px auto;
    max-width: 250px;
    .form-control {
      border: 1px solid #727379;
    }
  }
  &__products {
    margin: 0 auto 40px auto;
    a {
      text-decoration: none;
    }
  }
}

.product {
  text-decoration: none;
  .card-body {
    text-align: center;
  }
  &__img {
    width: 256px;
    height: 256px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 3px 3px 5px rgba($color: $primary, $alpha: 0.3);
    }
  }
}

.edit-product {
  margin-bottom: 30px;
  .product__img {
    &:hover {
      box-shadow: none;
    }
  }
  &__btns {
    margin: 0 auto;
    &--btn-view {
      background-color: $primary;
      color: $white;
      margin-right: 10px;
      border: 1px solid $primary;
      transition: 0.3s ease;
      padding: 10px 18px;
      letter-spacing: 0.1rem;
      &:hover {
        background-color: $white;
        color: $primary;
        font-weight: 500;
        box-shadow: 3px 3px rgba($color: $primary, $alpha: 1);
      }
      &:active {
        box-shadow: 5px 5px rgba($color: $primary, $alpha: 1);
      }
    }
    &--btn-edit {
      background-color: $white;
      color: $primary;
      margin-right: 10px;
      transition: 0.3s ease;
      border: 1px solid $primary;
      padding: 10px 18px;
      letter-spacing: 0.1rem;
      &:hover {
        background-color: $white;
        color: $primary;
        font-weight: 500;
        box-shadow: 3px 3px rgba($color: $primary, $alpha: 1);
      }
      &:active {
        box-shadow: 5px 5px rgba($color: $primary, $alpha: 1);
      }
    }
  }
}

.try-again {
  border-top: 1px solid $colour-accent;
  border-bottom: 1px solid $colour-accent;
  margin-top: 20px;
  letter-spacing: 0.03rem;
  transition: box-shadow 0.3s ease;
  &:hover {
    border: 1px solid $primary;
    font-weight: 500;
    box-shadow: 3px 3px rgba($color: $primary, $alpha: 1);
  }
  &:active {
    box-shadow: 5px 5px rgba($color: $primary, $alpha: 1);
  }
}

@media (min-width: $bootstrap-sm) {
  .product {
    text-decoration: none;
    &__img {
      width: 300px;
      height: 300px;
    }
  }
}
