h1,
h2,
h3 {
  font-family: $font-headings;
}

.hero-container h1 {
  font-size: 2.6rem;
}

.subscribe-container {
  h3 {
    font-size: 2rem;
  }
  &__discount {
    color: $colour-accent;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

@media (min-width: $bootstrap-sm) {
  .hero-container h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: $bootstrap-md) {
  .hero-container h1 {
    font-size: 4rem;
  }

  .featured-container h2,
  .subscribe-container h3 {
    font-size: 3rem;
  }
}
